<% provide(:title, 'イベント作成') %>

<div class="container">
  <h3>イベント作成</h3>
  <hr>
  <!-- 入力フォーム -->
  <%= render 'admin/events/event_form', url: "/admin/events" %>

  <!-- イベント表示 -->
    <%= render 'admin/events/event_all', events: @events %>
</div>