<% if event.favorited_by?(current_user) %></p>
<%= link_to event_favorites_path(event), method: :delete, remote: true do %>
  <em class="glyphicon glyphicon-heart"><%= event.favorites.count%></em>
<% end %>

<% else %>
  <%= link_to event_favorites_path(event), method: :post, remote: true do %><!--いいねしてない時 -->
  <em class="glyphicon glyphicon-heart-empty"><%= event.favorites.count %></em>
<% end %>
<% end %>