<nav class="main-nav" aria-label="Main">
  <ul class="main-nav__list">
    <% @tags.each_with_index do |tag, i| %>
      <li class="main-nav__item<%= i %>">
        <%= link_to event_tag_path(tag), class: "main-nav__link#{i}" do %>
          <%= tag.name %>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>