<header class="ranking__header">
  <h2 class="ranking__section"><i class="fas fa-globe-asia"></i>各地域の記事</h2>
</header>

<ul class="area__ul">
  <li class="area__link"><a href="https://cocoiko.blog/events?area_id=1">北海道</a></li>
  <li class="area__link"><a href="https://cocoiko.blog/events?area_id=2">東北</a></li>
  <li class="area__link"><a href="https://cocoiko.blog/events?area_id=3">関東</a></li>
  <li class="area__link"><a href="https://cocoiko.blog/events?area_id=4">中部</a></li>
  <li class="area__link"><a href="https://cocoiko.blog/events?area_id=5">関西</a></li>
  <li class="area__link"><a href="https://cocoiko.blog/events?area_id=6">中国</a></li>
  <li class="area__link"><a href="https://cocoiko.blog/events?area_id=7">四国</a></li>
  <li class="area__link"><a href="https://cocoiko.blog/events?area_id=8">九州・沖縄</a></li>
</ul>

<style>
  .area__ul{
  	padding-left: 0px;
  	margin: 20px;
  }
  .area__link{
    display: inline-block;
    text-decoration: none;
    background-color: #ccc;
    border: 1px solid $color;
    border-radius: 2em;
    font-size: 14px;
    padding: 0px 5px;
    margin: 5px;
  }
  .area__link :hover{
    color: black;
    text-decoration: none;
  }
</style>