<% provide(:title, "検索結果|""#{params[:search][:prefecture]} #{params[:search][:name]}") %>
<div class="container">
  <br>
  <h3 id="title"><%= "#{params[:search][:prefecture]} #{params[:search][:name]}" %></h3>の検索結果
  <hr>
</div>
    <h3><%= @events.count %>件のイベントを表示</h3>
    <%= render 'events/event_medium_content', events: @events %>
