<% provide(:title, 'エリア編集') %>
<!-- フラッシュメッセージ -->
<div class="flash">
  <%= flash[:success] %>
</div>
<div class="alert1">
  <%= flash[:alert] %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <br><br>
      <h3>エリア編集</h3>
      <hr>
    </div>
  </div>
  <!-- <div id="area_update"> -->
    <%= render 'admin/areas/area_form', url: "/admin/areas/#{@area.id}" %>
  <!-- </div> -->
</div>



