<div class="select-kanto">
  <div class="dropdown">
    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
      関東
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <% if Rails.env.development? %>
        <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=茨城県&commit=search >茨城県</a></li>
        <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=栃木県&commit=search >栃木県</a></li>
        <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=群馬県&commit=search >群馬県</a></li>
        <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=埼玉県&commit=search >埼玉県</a></li>
        <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=千葉県&commit=search >千葉県</a></li>
        <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=東京都&commit=search >東京都</a></li>
        <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=神奈川&commit=search >神奈川</a></li>
      <% else %>
        <li role="presentation"><a href= http://cocoiko.blog/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=茨城県&commit=search >茨城県</a></li>
        <li role="presentation"><a href= http://cocoiko.blog/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=栃木県&commit=search >栃木県</a></li>
        <li role="presentation"><a href= http://cocoiko.blog/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=群馬県&commit=search >群馬県</a></li>
        <li role="presentation"><a href= http://cocoiko.blog/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=埼玉県&commit=search >埼玉県</a></li>
        <li role="presentation"><a href= http://cocoiko.blog/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=千葉県&commit=search >千葉県</a></li>
        <li role="presentation"><a href= http://cocoiko.blog/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=東京都&commit=search >東京都</a></li>
        <li role="presentation"><a href= http://cocoiko.blog/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=神奈川&commit=search >神奈川</a></li>
      <% end %>
    </ul>
  </div>
</div>