<div class="select-shikoku">
  <div class="dropdown">
    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
      四国
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=徳島県&commit=search >徳島県</a></li>
      <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=香川県&commit=search >香川県</a></li>
      <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=愛知県&commit=search >愛知県</a></li>
      <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=高知県&commit=search >高知県</a></li>
    </ul>
  </div>
</div>