<div class="select-kyusyu">
  <div class="dropdown">
    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
      九州・沖縄
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=福岡県&commit=search >福岡県</a></li>
      <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=佐賀県&commit=search >佐賀県</a></li>
      <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=長崎県&commit=search >長崎県</a></li>
      <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=熊本県&commit=search >熊本県</a></li>
      <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=大分県&commit=search >大分県</a></li>
      <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=宮崎県&commit=search >宮崎県</a></li>
      <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=鹿児島県&commit=search >鹿児島県</a></li>
      <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=沖縄県&commit=search >沖縄県</a></li>
    </ul>
  </div>
</div>