<div class="select-cyugoku">
  <div class="dropdown">
    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
      中国
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <% if Rails.env.development? %>
        <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=鳥取県&commit=search >鳥取県</a></li>
        <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=富山島根県&commit=search >島根県</a></li>
        <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=岡山県&commit=search >岡山県</a></li>
        <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=広島県&commit=search >広島県</a></li>
        <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=山口県&commit=search >山口県</a></li>
      <% else %>
        <li role="presentation"><a href= http://cocoiko.blog/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=鳥取県&commit=search >鳥取県</a></li>
        <li role="presentation"><a href= http://cocoiko.blog/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=富山島根県&commit=search >島根県</a></li>
        <li role="presentation"><a href= http://cocoiko.blog/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=岡山県&commit=search >岡山県</a></li>
        <li role="presentation"><a href= http://cocoiko.blog/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=広島県&commit=search >広島県</a></li>
        <li role="presentation"><a href= http://cocoiko.blog/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=山口県&commit=search >山口県</a></li>
      <% end %>
    </ul>
  </div>
</div>