<div class="select-kyusyu">
  <div class="dropdown">
    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
      九州・沖縄
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <% if Rails.env.development? %>
        <li role="presentation"><a href= "http://localhost:3000/events/search?utf8=✓&search%5Bprefecture%5D=福岡県&search%5Bname%5D=&commit=search" >福岡県</a></li>
        <li role="presentation"><a href= "http://localhost:3000/events/search?utf8=✓&search%5Bprefecture%5D=佐賀県&search%5Bname%5D=&commit=search" >佐賀県</a></li>
        <li role="presentation"><a href= "http://localhost:3000/events/search?utf8=✓&search%5Bprefecture%5D=長崎県&search%5Bname%5D=&commit=search" >長崎県</a></li>
        <li role="presentation"><a href= "http://localhost:3000/events/search?utf8=✓&search%5Bprefecture%5D=熊本県&search%5Bname%5D=&commit=search" >熊本県</a></li>
        <li role="presentation"><a href= "http://localhost:3000/events/search?utf8=✓&search%5Bprefecture%5D=大分県&search%5Bname%5D=&commit=search" >大分県</a></li>
        <li role="presentation"><a href= "http://localhost:3000/events/search?utf8=✓&search%5Bprefecture%5D=宮崎県&search%5Bname%5D=&commit=search" >宮崎県</a></li>
        <li role="presentation"><a href= "http://localhost:3000/events/search?utf8=✓&search%5Bprefecture%5D=鹿児島県&search%5Bname%5D=&commit=search" >鹿児島県</a></li>
        <li role="presentation"><a href= "http://localhost:3000/events/search?utf8=✓&search%5Bprefecture%5D=沖縄県&search%5Bname%5D=&commit=search" >沖縄県</a></li>
      <% else %>
        <li role="presentation"><a href= "http://cocoiko.blog:3000/events/search?utf8=✓&search%5Bprefecture%5D=福岡県&search%5Bname%5D=&commit=search" >福岡県</a></li>
        <li role="presentation"><a href= "http://cocoiko.blog:3000/events/search?utf8=✓&search%5Bprefecture%5D=佐賀県&search%5Bname%5D=&commit=search" >佐賀県</a></li>
        <li role="presentation"><a href= "http://cocoiko.blog:3000/events/search?utf8=✓&search%5Bprefecture%5D=長崎県&search%5Bname%5D=&commit=search" >長崎県</a></li>
        <li role="presentation"><a href= "http://cocoiko.blog:3000/events/search?utf8=✓&search%5Bprefecture%5D=熊本県&search%5Bname%5D=&commit=search" >熊本県</a></li>
        <li role="presentation"><a href= "http://cocoiko.blog:3000/events/search?utf8=✓&search%5Bprefecture%5D=大分県&search%5Bname%5D=&commit=search" >大分県</a></li>
        <li role="presentation"><a href= "http://cocoiko.blog:3000/events/search?utf8=✓&search%5Bprefecture%5D=宮崎県&search%5Bname%5D=&commit=search" >宮崎県</a></li>
        <li role="presentation"><a href= "http://cocoiko.blog:3000/events/search?utf8=✓&search%5Bprefecture%5D=鹿児島県&search%5Bname%5D=&commit=search" >鹿児島県</a></li>
        <li role="presentation"><a href= "http://cocoiko.blog:3000/events/search?utf8=✓&search%5Bprefecture%5D=新潟県&search%5Bname%5D=&commit=search" >沖縄県</a></li>
      <% end %>
    </ul>
  </div>
</div>