<div class="select-kansai">
  <div class="dropdown">
    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
      関西
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <% if Rails.env.development? %>
        <li role="presentation"><a href= "http://localhost:3000/events/search?utf8=✓&search%5Bprefecture%5D=三重県&search%5Bname%5D=&commit=search" >三重県</a></li>
        <li role="presentation"><a href= "http://localhost:3000/events/search?utf8=✓&search%5Bprefecture%5D=滋賀県&search%5Bname%5D=&commit=search" >滋賀県</a></li>
        <li role="presentation"><a href= "http://localhost:3000/events/search?utf8=✓&search%5Bprefecture%5D=京都府&search%5Bname%5D=&commit=search" >京都府</a></li>
        <li role="presentation"><a href= "http://localhost:3000/events/search?utf8=✓&search%5Bprefecture%5D=大阪府&search%5Bname%5D=&commit=search" >大阪府</a></li>
        <li role="presentation"><a href= "http://localhost:3000/events/search?utf8=✓&search%5Bprefecture%5D=兵庫県&search%5Bname%5D=&commit=search" >兵庫県</a></li>
        <li role="presentation"><a href= "http://localhost:3000/events/search?utf8=✓&search%5Bprefecture%5D=奈良県&search%5Bname%5D=&commit=search" >奈良県</a></li>
        <li role="presentation"><a href= "http://localhost:3000/events/search?utf8=✓&search%5Bprefecture%5D=和歌山県&search%5Bname%5D=&commit=search" >和歌山県</a></li>
      <% else %>
        <li role="presentation"><a href= "http://cocoiko.blog:3000/events/search?utf8=✓&search%5Bprefecture%5D=三重県&search%5Bname%5D=&commit=search" >三重県</a></li>
        <li role="presentation"><a href= "http://cocoiko.blog:3000/events/search?utf8=✓&search%5Bprefecture%5D=滋賀県&search%5Bname%5D=&commit=search" >滋賀県</a></li>
        <li role="presentation"><a href= "http://cocoiko.blog:3000/events/search?utf8=✓&search%5Bprefecture%5D=京都府&search%5Bname%5D=&commit=search" >京都府</a></li>
        <li role="presentation"><a href= "http://cocoiko.blog:3000/events/search?utf8=✓&search%5Bprefecture%5D=大阪府&search%5Bname%5D=&commit=search" >大阪府</a></li>
        <li role="presentation"><a href= "http://cocoiko.blog:3000/events/search?utf8=✓&search%5Bprefecture%5D=兵庫県&search%5Bname%5D=&commit=search" >兵庫県</a></li>
        <li role="presentation"><a href= "http://cocoiko.blog:3000/events/search?utf8=✓&search%5Bprefecture%5D=奈良県&search%5Bname%5D=&commit=search" >奈良県</a></li>
        <li role="presentation"><a href= "http://cocoiko.blog:3000/events/search?utf8=✓&search%5Bprefecture%5D=和歌山県&search%5Bname%5D=&commit=search" >和歌山県</a></li>
      <% end %>
    </ul>
  </div>
</div>