<div class="select-kansai">
  <div class="dropdown">
    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
      関西
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=三重県&commit=search >三重県</a></li>
      <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=滋賀県&commit=search >滋賀県</a></li>
      <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=京都府&commit=search >京都府</a></li>
      <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=大阪府&commit=search >大阪府</a></li>
      <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=兵庫県&commit=search >兵庫県</a></li>
      <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=奈良県&commit=search >奈良県</a></li>
      <li role="presentation"><a href= http://localhost:3000/events/search?utf8=%E2%9C%93&search%5Bprefecture%5D=和歌山県&commit=search >和歌山県</a></li>
    </ul>
  </div>
</div>