<div class="container">
    <h3>季節のイベント</h3>
    <hr>

  <!-- Swiper START -->
  <div class="container2">
    <div class="swiper-container swiper1">
    <!-- メイン表示部分 -->
      <div class="swiper-wrapper">
      <!-- 各スライド -->
        <% i = 1 %>
        <% while i < 13 %>
          <div class="swiper-slide img">
            <a href="./events/season/<%= i %>"><%= image_tag asset_path("season_#{i}.jpg", alt: "観光") %></a>
            <p><%= i %>月</p>
          </div>
          <% i += 1 %>
        <% end %>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
  <!-- Swiper END -->

  <!-- Swiper START -->
  
  <!-- Swiper END -->
</div>