 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 @import 'bootstrap-datetimepicker';
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import 'event_card.scss';
 @import 'category_nav.scss';
 @import 'ranking.scss';
 @import 'event.scss';
 @import 'event_small-card.scss';
 @import 'header.scss';
 @import 'top.scss';
 @import 'footer.scss';
 @import 'search.scss';
* {
   box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  letter-spacing : 0.2em;
}

a {
   text-decoration: none;
   color: black;
}

a :hover {
  text-decoration: none;
}

.flash {
  margin-top: 50px;
  padding-left: 55px;
  background-color: #0eac67;
  color: white;
  font-size: 12px;
}
.alert1 {
  margin-top: 50px;
  padding-left: 55px;
  background-color: #f2dede;
  color: #a94442;
  font-size: 12px;
}

//見出し
.heading{
  font-size: 20px;
  background-image: linear-gradient(-45deg, #fff 25%, #f8f4f1 25%, #f8f4f1 50%, #fff 50%, #fff 75%, #f8f4f1 75%, #f8f4f1);
  background-size: 4px 4px;
  display: inline-block;
  margin: 1% 5%;
  padding: 10px;
}

//バッジ
@mixin badge_before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-right: 35px solid transparent;
}

@mixin badge_after{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  font-weight:bold;
  color: black;
  transform: rotate(-45deg) translate(-2px, 3px);
}

.container__card--mini{
  &__badge--new,
  &__badge--rank0,
  &__badge--rank1,
  &__badge--rank2,
  &__badge--rank3,
  &__badge--rank4{
    position: relative;
    object-fit: cover;
  }
  &__badge--new:before {
     @include badge_before;
     border-top: 35px solid #f00;
  }
  &__badge--rank0:before {
     @include badge_before;
     border-top: 35px solid #ffd700;
  }
  &__badge--rank1:before {
     @include badge_before;
     border-top: 35px solid #c0c0c0;
  }
  &__badge--rank2:before {
     @include badge_before;
     border-top: 35px solid #d2691e;
  }
  &__badge--rank3:before {
     @include badge_before;
     border-top: 35px solid #fffacd;
  }
  &__badge--rank4:before {
     @include badge_before;
     border-top: 35px solid #fffacd;
  }
  &__badge--new:after {
     @include badge_after;
     content: "NEW";
     font-size: 10px;
     color: #FFF;
     transform: rotate(-45deg) translate(-5px, 3px);
  }
  &__badge--rank0:after {
     @include badge_after;
     content: "1位";
  }
  &__badge--rank1:after {
     @include badge_after;
     content: "2位";
  }
  &__badge--rank2:after {
     @include badge_after;
     content: "3位";
  }
  &__badge--rank3:after {
     @include badge_after;
     content: "4位";
  }
  &__badge--rank4:after {
     @include badge_after;
     content: "5位";
  }
}

//アイコン
.red {
  color: #e54747;
}
.white {
  color: #ffffff;
}
.blue {
  color: #337ab7;
}
.danger-color {
  color: #d9534f;
}
.slash{
  color: #ccc;
}

.container {
  width: 100%;
}

.box{
  display: flex;
}
.box__left{
  flex: 1;
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center;
}
.search,
.rank {
  flex: 1;
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center;
}
.box__left-event{
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}
.box__right{
  width: 300px;
  margin-right: 2%;
}

.pan-list {
  border-bottom: solid 1px #ccc;
  padding: 4px;
  margin-bottom: 50px;
}
.pan-list__text {
  float: left;
}

.section-btn {
  width: 80%;
  font-size: 14px;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: auto;
  padding: 8px 0 10px;
  color: #333;
  background-color: #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.section-top-btn {
  width: 100%;
  font-size: 14px;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: auto;
  padding-top: 10px;
  color: #333;
  margin-top: 10px;
  border: 1px solid #333;
}
#page-top  {
  position: absolute;
  bottom: 3%;
  right: 3%;
  position: fixed;
  opacity: 0.8;
  width: 80px;
  height: 80px;
  background-color: #f7da36;
  border-radius: 50%;/* ←円を作る */
  cursor : pointer;
  display:none;
  z-index: 9;
}
#page-top a {
  position: relative;
  top: 40%;
  left: 42%;
}

.dropdwn{
    display: flex;
}

.dropdwn ul{
    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    color: #fff;
}

//ドロップ前のタイルの色
.dropdwn li {
    width: 140px;
    margin: 1px;
    display: inline;
    color: black;
    font-size: 12px;
}
//ドロップ後のタイルの色
.dropdwn_menu {
    width: 140px;
    display: none;
    position: absolute;
    margin-left: -5px;
    margin-top: 5px;
    padding: 0;
    background-color: rgba(0,0,0,0.4);
}

.dropdwn_menu li {
    width: 140px;
}

.dropdwn_menu li a {
    padding: 5px 0;
    margin: -5px 5px -5px -5px;
    color: #fff;
    display: block;
}

//ドロップ後のメニュー
.dropdwn_menu li a:hover {
  color: #fff;
}

@media screen and (max-width: 760px) {
  .box{
  display: block;
  }
  .box__left{
  flex: 1;
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center;
}
  .box__right{
  width: 90%;
  margin: 0 auto;
  }
}



