 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'bootstrap-datetimepicker';

.main {
    width: 100%; /* 横幅 */
    height: 800px; /* 高さ（多めに設定） */
    background-color: white; /* 背景色 */
}
.blog {
    width: 100px;
    height: 800px;
    background-color: white;
    float: left; /* 要素を左揃えで並べる */
}
.sidebar {
    width: 100px;
    height: 800px;
    background-color: white;
    float: left; /* 要素を左揃えで並べる */
}
* {
   box-sizing: border-box;
}

//ブラウザ間の差を無くす
body {
   margin: 0;
   padding: 0;
   font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
   background-color: #fff;
   letter-spacing : 0.2em;
   padding-top: 30px;/*追記部分*/
}

header {
   padding: 20px 4% 10px;//内側の余白
   position: fixed;
   top: 0;//固定位置
   width: 100%;
   background-color: #fff;//背景色
   display: flex;//固定
   align-items: center;//縦方向の中心
   z-index: 1;
}
h1 {
   margin: 0; padding: 0;
   font-size: 20px;
}
a {
   text-decoration: none;//アンダーラインの消去
   color: #000000;
}
nav {
   margin: 0 0 0 auto;
}
ul {
   list-style: none;//「・」を非表示
   margin: 0;//余白を消去
   display: flex;//横並びに
}
li {
   margin: 0 0 0 15px;
   font-size: 14px;
}

.main-visual {
   display: flex;
   justify-content: center;
   align-items: center;
   //height: 100px;
   //background: url('image001.jpg') top center / cover no-repeat;
}
h2 {
   margin: 0;
   font-size: 30px;
   font-weight: normal;
   color: #000000;
}

/*下からフェードイン*/
.fade-in-bottom {
   opacity: 0;
   animation-name: fadein-bottom;
   animation-duration: 1.5s;//時間
   animation-timing-function: ease-out;//終盤はスロー
   animation-fill-mode: none;//アニメーション終了後消える
   z-index: 6;
}
@keyframes fadein-bottom {
   0% {
      opacity: 0;
      transform: translateY(60px);//20px下にずらす
   }
   100% {
      opacity: 1;
      transform: translateY(40px);//元の位置に戻る
   }
}
/*左からフェードイン*/
.fade-in-left {
   opacity: 0;
   animation-name: fadein-left;
   animation-duration: 1.5s;
   animation-timing-function: ease-out;
   animation-fill-mode: forwards;//アニメーション終了後キープ
}
@keyframes fadein-left {
   0% {
      opacity: 0;
      transform: translateX(-20px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}
/*右からフェードイン*/
.fade-in-right {
   opacity: 0;
    animation-name: fadein-right;
   animation-duration: 1.5s;
   animation-timing-function: ease-out;
   animation-fill-mode: forwards;
}
@keyframes fadein-right {
   0% {
      opacity: 0;
      transform: translateX(20px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}
/* forms */
/* formの余白 */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

/* errorメッセージ */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px ;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* indexコンテナ */
.index-content a:hover {
  color: black;
  text-decoration: none;
}

.index-content {
  margin-bottom: 20px;
  padding: 50px;
}

.index-content .row {
  margin-top: 20px;
}

.index-content a {
  color: black;
}

.index-content .card {
  width: 460px;
  background-color: #FFFFFF;
  padding: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;//
}

.index-content .card img {
  width: 460px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.index-content .card h4 {
  margin: 20px 20px 10px 20px;//余白
}

.index-content .card p {
  margin: 10px 20px 10px 20px;//余白
  opacity: 0.65;//透明度
}

/* タグのデザイン */
.index-content .card p span {
  display: inline-block;
  margin: 0px 20px 0px 20px;//余白
  padding: .3em;//角丸の大きさ
  font-size: 14px;
  line-height: 1;//1固定
  text-decoration: none;
  color: #ffffff;//文字
  background-color: #a9a9a9;
  //border: 1px solid #0000ee;//枠
  border-radius: 1em;//角丸
  margin:0 0 0 auto
}
/* いいね */
.index-content .card p em {
  width: 100%;
  margin-left: auto;
}


/* index-sub-コンテナ */
.index-sub-content a:hover {
  color: black;
  text-decoration: none;
}

.index-sub-content {
  margin-bottom: 20px;
  padding: 50px;
}

.index-sub-content .row {
  margin-top: 20px;
}

.index-sub-content a {
  color: black;
}

.index-sub-content .card {
  width: 180px;
  background-color: #FFFFFF;
  padding: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;//
}

.index-sub-content .card img {
  width: 180px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.index-sub-content .card h4 {
  margin: 10px 10px 5px 10px;//余白
  font-size: 14px;
}

.index-sub-content .card p {
  margin: 10px 10px 5px 10px;//余白
  opacity: 0.65;//透明度
  font-size: 12px;
}

/* タグのデザイン */
.index-sub-content .card p span {
  display: inline-block;
  margin: 0px 20px 0px 20px;//余白
  padding: .3em;//角丸の大きさ
  font-size: 14px;
  line-height: 1;//1固定
  text-decoration: none;
  color: #ffffff;//文字
  background-color: #a9a9a9;
  //border: 1px solid #0000ee;//枠
  border-radius: 1em;//角丸
  margin:0 0 0 auto
}

.index-sub-content .card p em {
  width: 100%;
  margin-left: auto;
}
//User情報
body {
  background: #f2f2f2;
}

.box {
  padding: 60px 0px;
}

.box-part {
  background: #FFF;
  border-radius: 10px;
  padding: 60px 10px;
  margin: 30px 0px;
}

.text {
  margin: 20px 0px;
}

.fa {
  color: #4183D7;
}
//新規商品
.new {
  position: relative;
}
.new:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 35px solid #f00;
  border-right: 35px solid transparent;
}
.new:after {
  content: "NEW";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10px;
  font-weight:bold;
  color: #FFF;
  transform: rotate(-45deg) translate(-5px, 3px);
}
.new img {
  object-fit: cover;
}

