.box__left-event{
  position: relative;
}
.event {
  &__figure img {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-bottom: 40px;
  }
  &__title {
    font-size: 20px;
    background-image: linear-gradient(-45deg, #fff 25%, #f8f4f1 25%, #f8f4f1 50%, #fff 50%, #fff 75%, #f8f4f1 75%, #f8f4f1);
    background-size: 4px 4px;
    display: inline-block;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 90%;
  }
  &__title-bottom {
    font-size: 20px;
    background-image: linear-gradient(-45deg, #fff 25%, #f8f4f1 25%, #f8f4f1 50%, #fff 50%, #fff 75%, #f8f4f1 75%, #f8f4f1);
    background-size: 4px 4px;
    display: inline-block;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 80%;
  }
  &__text {
    font-size: 14px;
    margin: 1% 11%;
    width: 80%;
  }
  &__show-heart {
    position: absolute;
    top:0.5%;
    right: 11%;
  }
  &__comment {
    width: 80%;
    margin-left: 10%;
  }
  &__btn {
    margin: 10px 0px;
    background-color: #ccc;
  }
}

#map {
  margin-left: 10%;
  width: 80%;
  height: 400px;
}

