.container__card--mini {
    position: relative;/*相対配置*/
    width: 260px;
    min-width: 260px;
    background-color: #FFFFFF;
    margin-right: 2%;
    margin-left: 2%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
  }


.card-small {
    width:100%;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
  &__figure {
    position:   relative;
  }
  &__figure img {
    display:flex;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  &__caption {
    font-size: 16px;
    text-align: center;
    padding-top: 27%;
    color: black;
  }
  &__mask {
    width: 90%;
    height: 85%;
    margin: 5%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(255,255,255,0.6);
  }
  &__figure:hover .card-small__mask {
    opacity: 1;
    transition: 0.5s ;
  }
}

@media screen and (max-width: 1240px) and (min-width: 884px){
	.container__card--mini {
    position: relative;
    width: 400px;
  }
}

@media screen and (max-width: 883px) {
  .container__card--mini {
    position: relative;
    width: 45%;
    min-width: 45%
    }
}