.footer {
  &__logo {
    color: white;
  }
  &__top-ppp a{
    display: none;
  }
  &__top-pc {
    width: calc(85% - 300px);
    margin-left: 6%;
    margin-bottom: 15px;
    color: black;
    padding: 15px;
    border: solid 1px #000000;
    font-size: 14px;
    text-align: center;
  }
  &__botom {
    background-color: #212121;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  &__body {
    padding-top: 25px;
    padding-bottom: 10px;
    background-color: #333;
    text-align: center;
  }
  &__ul {
    color: #999;
    display: inline-block;
    padding-right: 30px;
    vertical-align: top;
  }
  &__link a {
    color: #999;
    float: left;
  }
  &__top-pc a {
    color: #000;
  }
  &__ul-share {
    padding-left: 0px;
    list-style: none;
  }
  &__link-share {
    margin: 10px 0px;
    color: #999;
    list-style: none;
  }
}
.fa-line {
  color: #1dcd00;
}
.fa-twitter-square {
  color: #55acee;
}
.fa-facebook-square {
  color: #3B5998;
}
  @media screen and (max-width: 767px) {
    .footer {
      &__top-ppp {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2%;
      }
      &__top-pc {
        display: none;
      }
    }
  }