
* {
   box-sizing: border-box;
}

#logo {
  font-family: 'Nothing You Could Do', cursive;
}

body {
   margin: 0;//ブラウザ間の差を無くす
   padding: 0;//ブラウザ間の差を無くす
   font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
   background-color: #ffffff;
}

header {
    width: 100%;
    padding: 20px 4% 10px;//header内側の余白
    background-color: #fff;//背景色には白
    //position: fixed;//絶対位置(スクロールしてもheadder固定)
    top: 0;
    display: flex;//header直下の子要素のレイアウトをコントロール可能に
    align-items: center;//縦方向の中心
}

header::after {
    content: "";
    display: block;
    clear: both;
}

h1 {//ロゴの大きさ調整
   margin: 0; padding: 0;
   font-size: 20px;
}

a {//aタグの文字色と、余計なアンダーラインを消す
  text-decoration: none;
  color: #4b4b4b;
}

ul {//「・」を非表示にし、無駄な余白をなくす
   list-style: none;
   margin: 0;
   display: flex;//横並びに
}

li {
   margin: 0 0 0 15px;//余白の調整
   font-size: 16px;//文字の大きさ調整
}

li mypicture {
   margin: 0 0 100px 15px;//余白の調整
}

nav {
   margin: 0 0 0 auto;//左マージンに「auto」
}

span#link {
  border-bottom:solid 1px blue; //ログインページのリンク先
  color: blue;
}

.admin-header {
  background-color: #ffffff;  //adminのヘッダー
}