.header {
  padding: 10px 4% 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  opacity: 0.9;
  display: flex;
  align-items: center;
  z-index: 5;

  &__left {
    margin: 0; padding: 0;
    font-size: 20px;
    opacity: 0;
    animation-name: fadein-left;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  &__right {
    margin: 0 0 0 auto;
    opacity: 0;
    animation-name: fadein-right;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  &__right-ul {
    list-style: none;
    margin: 0;
    display: flex;
  }

  &__right-link a {
    margin: 0 0 0 30px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    cursor: hand;
    color: #848484;
  }
  &__right-link :hover  {
    color: #000;
    text-decoration: none;
  }
  &__right-link-red a {
    margin: 0 0 0 30px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    cursor: hand;
    color: red;
  }
  &__right-link-red :hover {
    text-decoration: none;
  }
}
.fa-circle:before {
    color: #0eac67;
}
.sp-nav{
  display: none;
}
.hamburger {
  display: none;
}
//フェードイン
@keyframes fadein-right {
   0% {
      opacity: 0;
      transform: translateX(20px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes fadein-left {
   0% {
      opacity: 0;
      transform: translateX(-20px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@media screen and (max-width: 767px) {
  .header {
    &__left {
      margin: 0 auto;
    }
    &__right {
      display: none;
    }
  }
  .sp-nav {
   z-index: 1;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   display: block;
   width: 100%;
   background: rgba(255, 255, 255, 1);
   transition: all .2s ease-in-out;
   opacity: 0;
   transform: translateY(-100%);
  }

  .sp-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .sp-nav li {
    margin: 0;
    padding: 0;
  }
  .sp-nav li a {
    display: block;
    padding: 20px 0;
  }
  .hamburger {
    display: block;
  }
  .toggle {
   transform: translateY( 0 );
   opacity: 1;
  }
  .close i {
    margin-left: auto;
    font-size: 45px;
    padding: 20px;
  }
}