.ranking {
  display: flex;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid;
  border-color: #ccc;

  &__aside {
    margin-right: 20px;
    width: 100px;
    height: 100px;
  }
  &__aside img {
    width: 100px;
    height: 100px;
    vertical-align: top;
  }
  &__section {
    color: black;
    padding: 15px;
    border: solid 1px #000000;
    font-size: 14px;
    text-align: center;
  }
  &__section-about {
    color: white;
    padding: 15px;
    border: solid 1px #000000;
    font-size: 14px;
    text-align: center;
    background-color: black;
  }
  &__title,
  &__link {
    color: black;
    opacity: 0.6;
  }
}