<ul class="dropdwn">
  <li>エリアから探す
    <ul class="dropdwn_menu">
      <li><a href="#">北海道</a></li>
      <li><a href="#">東北</a></li>
      <li><a href="#">関東</a></li>
      <li><a href="#">中部</a></li>
      <li><a href="#">関西</a></li>
      <li><a href="#">中国</a></li>
      <li><a href="#">四国</a></li>
      <li><a href="#">沖縄</a></li>
    </ul>
  </li>
</ul>
<ul class="dropdwn">
  <li>カテゴリから探す
    <ul class="dropdwn_menu">
      <li><a href="/events/tag/1">自然</a></li>
      <li><a href="/events/tag/2">歴史</a></li>
      <li><a href="/events/tag/3">体験</a></li>
      <li><a href="/events/tag/4">舞台</a></li>
    </ul>
  </li>
</ul>