<head>
  <link rel="stylesheet" href="header.css">
</head>
<header>
  <h1>
    <%= link_to "ロゴ", root_path, id: "logo" %>
  </h1>
  <nav class="pc-nav">
    <ul>
      <%# if end_user_signed_in? %>
      <!-- 　<li><%#= "ようこそ、#{current_end_user.last_name}さん！" %></li> -->
        <!-- <li><%#= link_to '  マイページ', end_users_path, class: 'glyphicon glyphicon-log-in' %></li> -->
        <!-- <li><%#= link_to '  商品一覧', items_path, class: 'glyphicon glyphicon-log-in' %></li> -->
        <!-- <li><%#= link_to '  カート', cart_items_path, class: 'glyphicon glyphicon-log-in' %></li> -->
        <!-- <li><%#= link_to '  ログアウト', destroy_end_user_session_path, method: :delete, class: 'glyphicon glyphicon-log-in' %></li> -->

      <%# else %>
        <li><%= link_to '  一覧', "#", class: 'glyphicon glyphicon-log-in' %></li>
        <li><%= link_to '  新規登録', "#", class: 'glyphicon glyphicon-log-in' %></li>
        <li><%= link_to '  ログイン', "#", class: 'glyphicon glyphicon-log-in' %></li>
    　<%# end %>
    </ul>
  </nav>
</header>