<ul class="dropdwn">
  <li>エリアから探す
    <ul class="dropdwn_menu">
      <li><a href="https://cocoiko.blog/events?area_id=1">北海道</a></li>
      <li><a href="https://cocoiko.blog/events?area_id=2">東北</a></li>
      <li><a href="https://cocoiko.blog/events?area_id=3">関東</a></li>
      <li><a href="https://cocoiko.blog/events?area_id=4">中部</a></li>
      <li><a href="https://cocoiko.blog/events?area_id=5">関西</a></li>
      <li><a href="https://cocoiko.blog/events?area_id=6">中国</a></li>
      <li><a href="https://cocoiko.blog/events?area_id=7">四国</a></li>
      <li><a href="https://cocoiko.blog/events?area_id=8">九州・沖縄</a></li>
    </ul>
  </li>
</ul>
<ul class="dropdwn">
  <li>カテゴリから探す
    <ul class="dropdwn_menu">
      <li><a href="/events/tag/1">自然</a></li>
      <li><a href="/events/tag/2">歴史</a></li>
      <li><a href="/events/tag/3">体験</a></li>
      <li><a href="/events/tag/4">舞台</a></li>
    </ul>
  </li>
</ul>